nav {
  background-color:  rgb(86, 192, 227);
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

button a {
  color: black;
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: rgb(86, 192, 227);
}

tbody tr:nth-child(odd) {
  background: rgb(7, 122, 229);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 .Sneaker-Container {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
}  

 .Sneaker-Img {
  max-width: 150px;
  height: auto;
  margin-right: 10px;
}

.Sneaker-Details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Sneaker-Name {
  font-size: 18px;
  font-weight: bold;
}

.Sneaker-Brand {
  margin-bottom: 5px;
}

.Sneaker-IsFavorite {
  margin-bottom: 5px;
}

.Sneaker-ReleaseDate {
  margin-bottom: 5px;
}

.Sneaker-Price {
  margin-bottom: 5px;
}

